<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.17">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.2.7"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.2.7">
      <jobProperties/>
      <triggers/>
      <parameters/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>***********************************************************************&#xd;
3. Jenkins job: install-ui-configure-ss-server-with-new-member-add-to-existing-cs&#xd;
Install UI configure security server with new member add to existing central server&#xd;
&#xd;
Jenkins build parameters:&#xd;
- Default parameters values is defined in jenkins job&#xd;
&#xd;
Test flow summary:&#xd;
- Add new member central server and subsystem&#xd;
- Download and import configuration anchor to security server&#xd;
- Add TSP service to security server&#xd;
- Configure security server with sign and auth keys&#xd;
- Add subsystem to security server&#xd;
&#xd;
Test flow preconditions: &#xd;
- Configured central server and management security server &#xd;
- Member not exist in central server &#xd;
- Empty / Not configured security server which has UI running login screen&#xd;
&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>USE_JENKINS_PARAMETERS</name>
          <description>If true uses values given in jenkins to configure other wise uses lxd env xml.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>False</string>
              <string>True</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>SERVER_FULL_URL</name>
          <description>Security server full url e.g https://xroad-lxd-ss2.lxd:4000</description>
          <defaultValue>https://xroad-lxd-ss1.lxd:4000</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>LOGIN_SS_USERNAME</name>
          <description>username login to ss server e.g xrd</description>
          <defaultValue>xrd</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>LOGIN_SS_PASSWORD</name>
          <description>password login to ss server e.g secret</description>
          <defaultValue>secret</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CENTRAL_SERVER_URL</name>
          <description></description>
          <defaultValue>https://xroad-lxd-cs.lxd:4000</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>LOGIN_CS_USERNAME</name>
          <description>username login to cs server e.g xrd</description>
          <defaultValue>xrd</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>LOGIN_CS_PASSWORD</name>
          <description>password login to cs server e.g secret</description>
          <defaultValue>secret</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>TSP_URL</name>
          <description>Timestamping url service e.g http://xroad-lxd-ca.lxd:8899</description>
          <defaultValue>http://xroad-lxd-ca.lxd:8899</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>MEMBER_NAME</name>
          <description>Member name e.g LXDSERV2</description>
          <defaultValue>Member1</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>MEMBER_CLASS</name>
          <description>Member class e.g GOV or COM. REMEMBER THAT MEMBER CLASS MUST EXISTS IN CENTRAL SERVER!!</description>
          <defaultValue>GOV</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>MEMBER_CODE</name>
          <description>Member code e.g 1234510-6</description>
          <defaultValue>00000001</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>MEMBER_NAME_SUB</name>
          <description>Subsystem name e.g LXDGUI2</description>
          <defaultValue>SUB_MEMBER1</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SYNC_TIMEOUT</name>
          <description>Give value between 15 .. 180 seconds, Global conf timeout + 10 seconds!!! NOTICE!</description>
          <defaultValue>50</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>SS_PIN_CODE</name>
          <description>Security server pin code</description>
          <defaultValue>12345678a!</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>CS_PIN_CODE</name>
          <description>Central server pin code</description>
          <defaultValue>12345678a!</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>XROAD_ID</name>
          <description>xroad instance id e.g FIsuomi</description>
          <defaultValue>XRD1</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>APPROVED_CA</name>
          <description>Approved CA name Palveluvayla Test CA CN</description>
          <defaultValue>Palveluvayla Test CA CN</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>SIGN_CERT_SERVER</name>
          <description>SSH connection to certificate signing cerver e.g format dev-is.palveluvayla.com</description>
          <defaultValue>lxc exec xroad-lxd-ca --</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>SIGN_CERT_SSH_KEY</name>
          <description>DO NOT EDIT in Finland! If ssh command needs key accessing cert server, path could be define here. Key must exists in testing machine.
Default value: /home/jenkins/.ssh/id_rsa_xroad</description>
          <defaultValue>empty</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>SIGNED_KEY_FORMAT</name>
          <description>der or pem</description>
          <defaultValue>der</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <hudson.model.FileParameterDefinition>
          <name>ca.cert.pem</name>
          <description>CA cert pem file</description>
        </hudson.model.FileParameterDefinition>
        <hudson.model.FileParameterDefinition>
          <name>tsa.cert.pem</name>
          <description>TSA cert pem file</description>
        </hudson.model.FileParameterDefinition>
        <hudson.model.FileParameterDefinition>
          <name>ocsp.cert.pem</name>
          <description>OCSP cert pem file</description>
        </hudson.model.FileParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <EnvInjectJobProperty plugin="envinject@2.1.5">
      <info>
        <propertiesContent>TEST_OR_PROFILE_NAME=Xroad_install_ui_configuration.test_configure_ss_server_with_new_member_add_to_existing_cs_3
TEST_DATA=xroad_install_ui_configuration.xml
TEMP_WS=$WORKSPACE
TEST_PROJECT_DIR=tests/common/xrd-ui-tests-qautomate
PIPELINE_BRANCH=master</propertiesContent>
        <secureGroovyScript plugin="script-security@1.41">
          <script></script>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
    </EnvInjectJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.45">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@3.8.0">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>$SHARED_LIB_REPOSITORY</url>
          <credentialsId>b7a9b945-4430-4598-8d5d-ad6ed0941c5f</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/$PIPELINE_BRANCH</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions/>
    </scm>
    <scriptPath>pipelines/Jenkinsfile-install-security-servers</scriptPath>
    <lightweight>false</lightweight>
  </definition>
  <triggers/>
  <authToken>xroad</authToken>
  <disabled>false</disabled>
</flow-definition>