<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.16">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.2.5"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.2.5">
      <jobProperties/>
      <triggers/>
      <parameters/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>CLONE_METHOD</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>ssh</string>
              <string>https</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <EnvInjectJobProperty plugin="envinject@2.1.5">
      <info>
        <propertiesContent>HTTPS_KEY=httpsgit
SSH_KEY=b7a9b945-4430-4598-8d5d-ad6ed0941c5f</propertiesContent>
        <secureGroovyScript plugin="script-security@1.39">
          <script></script>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
    </EnvInjectJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.42">
    <script>pipeline {
    agent any
    stages {
        stage(&apos;replaces&apos;) {
            steps {
                script {
                    if(&quot;${params.CLONE_METHOD}&quot; == &quot;ssh&quot;) {
                        dir(&quot;/var/lib/jenkins/jobs&quot;) {
    sh &apos;&apos;&apos;find ./ -type f -exec sed -i -e \&apos;s/&gt;\&apos;$HTTPS_KEY\&apos;/&gt;\&apos;$SSH_KEY\&apos;/g\&apos; {} \\;&apos;&apos;&apos;
    //sh &apos;&apos;&apos;grep -rl \&apos;$HTTPS_KEY\&apos; /dir_to_search_under | xargs sed -i &apos;s/apples/oranges/g&apos;
                        }
                    } else {
                         dir(&quot;/var/lib/jenkins/jobs&quot;) {
    sh &apos;&apos;&apos;find ./ -type f -exec sed -i -e \&apos;s/&gt;\&apos;$SSH_KEY\&apos;/&gt;\&apos;$HTTPS_KEY\&apos;/g\&apos; {} \\;&apos;&apos;&apos;
                        }
                    }

                }
                echo(&quot;set env variables&quot;)
                build job: &apos;lxd-set-global-env-variables&apos;, parameters: [string(name: &apos;CLONE_METHOD&apos;, value: params.CLONE_METHOD)]
            }
        }
    }
}

</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>