<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.17">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.2.7"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.2.7">
      <jobProperties/>
      <triggers/>
      <parameters/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>***********************************************************************&#xd;
1. Jenkins job: install-ui-configure-cs-and-ss-mgm-servers&#xd;
Install UI  configure central cerver and configure management security server&#xd;
&#xd;
Jenkins build parameters:&#xd;
- Default parameters values is defined in jenkins job&#xd;
-&gt; Own TSA, CA, OCSP root pem files can be used&#xd;
-&gt; Own CA signing server can be defined  &#xd;
&#xd;
Test flow summary:&#xd;
- Initialize central server and add new member to it&#xd;
- Add CA, TSP, OCSP services to central server&#xd;
- Configure management services and internal / external key values&#xd;
- Download and import anchor to security server&#xd;
- Add TSP service to security server&#xd;
- Configure security server with sign and auth keys&#xd;
- Add WSDL service to security server&#xd;
- Add management services to security server (auth cert deletion, client deletion, client registration)&#xd;
&#xd;
Test flow preconditions:&#xd;
- Empty / Not configured central server which has UI running login screen&#xd;
- Empty / Not configured security server which has UI running login screen&#xd;
&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>USE_JENKINS_PARAMETERS</name>
          <description>If true uses values given in jenkins to configure other wise uses lxd env xml.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>False</string>
              <string>True</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>CS_SERVER_FULL_URL</name>
          <description>Central server full url e.g https://xroad-lxd-cs.lxd:4000</description>
          <defaultValue>https://xroad-lxd-cs.lxd:4000</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>SS_MGM_CS_SERVER_FULL_URL</name>
          <description>Security server url which handles central server requests e.g https://xroad-lxd-ss0.lxd:4000 </description>
          <defaultValue>https://xroad-lxd-ss0.lxd:4000</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>LOGIN_CS_USERNAME</name>
          <description>username login to ss server e.g xrd</description>
          <defaultValue>xrd</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>LOGIN_CS_PASSWORD</name>
          <description>password login to ss server e.g secret</description>
          <defaultValue>secret</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>LOGIN_SS_MGM_CS_USERNAME</name>
          <description>username login to cs server e.g xrd</description>
          <defaultValue>xrd</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>LOGIN_SS_MGM_CS_PASSWORD</name>
          <description>password login to cs server e.g secret</description>
          <defaultValue>secret</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>TSP_URL</name>
          <description>Timestamping url service e.g http://xroad-lxd-ca.lxd:8899</description>
          <defaultValue>http://xroad-lxd-ca.lxd:8899</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>CS_MEMBER_NAME</name>
          <description>Member name e.g FirmaOy</description>
          <defaultValue>MemberMGM</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>CS_MEMBER_CLASS</name>
          <description>Member class e.g GOV or COM. REMEMBER THAT MEMBER CLASS MUST EXISTS IN CENTRAL SERVER!!</description>
          <defaultValue>GOV</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>CS_MEMBER_CODE</name>
          <description>Member code e.g 1234510-9</description>
          <defaultValue>00000000</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>MEMBER_NAME_SUB</name>
          <description>Subsystem name e.g MANAGEMENT</description>
          <defaultValue>MANAGEMENT</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>SYNC_TIMEOUT</name>
          <description>Give value between 15 .. 180 seconds, Global conf timeout + 10 seconds!!! NOTICE!</description>
          <defaultValue>100</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>CS_PIN_CODE</name>
          <description>Central server Pin code e.g 12345678a!</description>
          <defaultValue>12345678a!</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>SS_PIN_CODE</name>
          <description>Security server pin code e.g 12345678a!</description>
          <defaultValue>12345678a!</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>XROAD_ID</name>
          <description>xroad instance id e.g test or FI</description>
          <defaultValue>XRD1</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>OCSP_RESPONDER_URL</name>
          <description>ocsp responder url e.g http://xroad-lxd-ca.lxd:8888</description>
          <defaultValue>http://xroad-lxd-ca.lxd:8888</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>CS_MEMBER_CLASS_DESC</name>
          <description>Member class description e.g Goverment</description>
          <defaultValue>Government</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>APPROVED_CA</name>
          <description>approved ca e.g Palveluvayla Test CA CN</description>
          <defaultValue>Palveluvayla Test CA CN</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>SIGN_CERT_SERVER</name>
          <description>SSH connection or LXD to certificate signing cerver e.g format e.g lxc exec xroad-lxd-ca --</description>
          <defaultValue>lxc exec xroad-lxd-ca --</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>SIGN_CERT_SSH_KEY</name>
          <description>DO NOT EDIT in Finland! If ssh command needs key accessing cert server, path could be define here. Key must exists in testing machine.
Default value: /home/jenkins/.ssh/id_rsa_xroad
Default_value lxd: empty</description>
          <defaultValue>empty</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>SIGNED_KEY_FORMAT</name>
          <description>Choose between der or pem</description>
          <defaultValue>der</defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <hudson.model.FileParameterDefinition>
          <name>ca.cert.pem</name>
          <description>CA cert pem file ca.cert.pem</description>
        </hudson.model.FileParameterDefinition>
        <hudson.model.FileParameterDefinition>
          <name>tsa.cert.pem</name>
          <description>TSA cert pem file tsa.cert.pem</description>
        </hudson.model.FileParameterDefinition>
        <hudson.model.FileParameterDefinition>
          <name>ocsp.cert.pem</name>
          <description>OCSP cert pem file ocsp.cert.pem</description>
        </hudson.model.FileParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <EnvInjectJobProperty plugin="envinject@2.1.5">
      <info>
        <propertiesContent>TEST_OR_PROFILE_NAME=Xroad_install_ui_configuration.test_configure_cs_and_ss_mgm_servers_1
TEST_DATA=xroad_install_ui_configuration.xml
TEMP_WS=$WORKSPACE
TEST_PROJECT_DIR=tests/common/xrd-ui-tests-qautomate
PIPELINE_BRANCH=master




</propertiesContent>
        <secureGroovyScript plugin="script-security@1.41">
          <script></script>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
    </EnvInjectJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.45">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@3.8.0">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>$SHARED_LIB_REPOSITORY</url>
          <credentialsId>b7a9b945-4430-4598-8d5d-ad6ed0941c5f</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/$PIPELINE_BRANCH</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions/>
    </scm>
    <scriptPath>pipelines/Jenkinsfile-install-central-server</scriptPath>
    <lightweight>false</lightweight>
  </definition>
  <triggers/>
  <authToken>xroad</authToken>
  <disabled>false</disabled>
</flow-definition>